services:
  rpi_telebot:
    image: ghcr.io/idanbot/tele-home-supervisor:latest
    container_name: rpi-telebot
    user: "10001:10001"
    group_add:
      - "${DOCKER_GID}"

    networks:
      - bit-net

    environment:
      - BOT_TOKEN=${BOT_TOKEN}
      - BOT_AUTH_SECRET=${BOT_AUTH_SECRET}
      - ALLOWED_CHAT_IDS=${ALLOWED_CHAT_IDS}
      - QBT_HOST=${QBT_HOST}
      - QBT_PORT=${QBT_PORT}
      - QBT_USER=${QBT_USER}
      - QBT_PASS=${QBT_PASS}
      - WATCH_PATHS=/,/srv/media
      - SHOW_WAN=false
      - TZ=Asia/Jerusalem
      - DOCKER_HOST=unix:///var/run/docker.sock
      - OLLAMA_HOST=${OLLAMA_HOST:-http://localhost:11434}
      - OLLAMA_MODEL=${OLLAMA_MODEL:-llama2}

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /srv/media:/srv/media:ro
      - /sys/class/thermal/thermal_zone0:/host_thermal:ro
      - ./bot_data:/app/data

    logging:
      driver: "json-file"
      options:
        max-size: "25m"
        max-file: "3"

    restart: unless-stopped

  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower
    restart: unless-stopped

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

    logging:
      driver: "json-file"
      options:
        max-size: "25m"
        max-file: "3"

    environment:
      - TZ=Asia/Jerusalem
      - WATCHTOWER_CLEANUP=true # remove old images
      - WATCHTOWER_POLL_INTERVAL=300 # check every 5 minutes
      - WATCHTOWER_INCLUDE_STOPPED=true
      - WATCHTOWER_UPDATE_ON_START=true # also check immediately on startup
      - DOCKER_API_VERSION=1.44 #Docker v29 raised the minimum API version to 1.44

    # Only update this specific container
    command:
      - rpi-telebot
networks:
  bit-net:
    external: true
